body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Bootstrap light background color */
    color: #343a40; /* Bootstrap dark text color */
    padding: 20px;
}

h1,
h2,
h3 {
    color: black; /* Bootstrap primary color */
}

.custom-line {
    width: 100%;
    border-top: 1px solid black; /* Add the border style */
    margin: 10px 0; /* Add some margin for spacing */
}

a {
    color: black; /* Bootstrap primary color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 50%;
    height: auto;
}

/* Center everything except the last two links */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Give the links some space */
a {
    display: block;
    margin-bottom: 10px;
}
